.wrapper__sobreMi {
  width: 20vw;
  height: 80vh;
  display: flex;
  margin: 10px;
}
.sobreMi {
  margin: 20px;
  padding: 20px;

  &__title {
    position: relative;
    top: 10px;
  }
  &__text {
    margin-top: 30px;
    margin-right: 100px;
  }

  &__img {
    // width: 280px;
    // height: 500px;
    width: 300%;
    object-fit: cover;
    border-radius: 1rem;
    position: relative;
    top: 720px;
    right: 200px;
    z-index: -1;
  }
}
.wrapper__img {
  width: 20vw;
}
