.wrapper__sobreMi {
  width: 20vw;
  height: 80vh;
  display: flex;
  margin: 10px;
}
.sobreMi {
  margin: 20px;
  padding: 20px;

  &__title {
    position: relative;
    top: 10px;
  }
  &__text {
    margin-top: 30px;
    margin-right: 110px;
  }
}
.wrapper__img {
  width: 20vw;
}
