* {
  margin: 7px;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 5px solid lightblue;

  &__nav {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  &__img {
    width: 20%;
  }
}
