* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
// fonts
$font-text: 'Roboto', sans-serif;
$font-title: 'Roboto Slab', serif;

// color
$color-main: #6c933e;
$color-text: #4a4a4a;
$color-light: #d9e4cc;
header {
  background-color: $color-main;
  position: fixed;
  width: 35px;
  padding: 10px 15px 5px 10px;
  img {
    width: 15px;
  }
}

.footer {
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 30px 0;
  font-family: $font-text;
  text-align: center;
  min-width: 320px;
  animation-duration: 1s;
  animation-name: slidein;

  @media screen and (min-width: 780px) {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 40px;
  }
  &__container--nav {
    @media screen and (min-width: 780px) {
      display: flex;
      gap: 140px;
    }
  }
  &__nav--rrss {
    padding: 30px 0 30px 0;
  }

  &__ul {
    a {
      color: white;
      line-height: 2;
    }
  }
  &__copy {
    color: white;
  }
  &__p {
    color: white;
    span {
      color: $color-main;
    }
  }
}
@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%;
  }
  to {
    margin-top: 0%;
    width: 100%;
  }
}

.section_1 {
  background: url('../../public/cover.jpeg');
  width: 100%;
  height: 100vh;
  // padding-top: 250px;
  // padding-bottom: 150px;
  background-size: 330%;
  background-repeat: no-repeat;
  background-position: -600px 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 360px) and (max-width: 390px) {
    background-position: -600px 0;
    background-size: 325%;
  }
  @media screen and (min-width: 391px) and (max-width: 490px) {
    background-position: -700px 0;
    background-size: 335%;
  }
  @media screen and (min-width: 491px) and (max-width: 767px) {
    background-position: -500px 0;
    background-size: 200%;
  }

  @media screen and (min-width: 768px) {
    background-position: -500px 0;
    background-size: 200%;
  }

  @media screen and (min-width: 820px) {
    background-position: -700px 0;
    background-size: 230%;
  }
  @media screen and (min-width: 1000px) {
    background-position: -780px -150px;
    background-size: 228%;
  }
  @media screen and (min-width: 1200px) {
    background-position: -780px -150px;
    background-size: 188%;
  }
  @media screen and (min-width: 1900px) {
    background-position: -880px -150px;
    background-size: 150%;
  }

  &__h1 {
    color: white;
    font-size: 1.875rem;
    font-family: $font-title;
    font-weight: 500;
    line-height: 50px;
    padding: 150px 30px 0 30px;
    @media screen and (min-width: 464px) {
      font-size: 3rem;
      line-height: 80px;
    }
    @media screen and (min-width: 706px) {
      font-size: 3rem;
      line-height: 80px;
      padding: 200px 100px 0 100px;
    }

    @media screen and (min-width: 768px) {
      font-size: 4.688rem;
      line-height: 100px;
    }
    @media screen and (min-width: 1000px) {
      padding: 190px 100px 0 100px;
    }
    @media screen and (min-width: 1212px) {
      padding: 300px 200px 0 200px;
    }
    @media screen and (min-width: 1409px) {
      padding: 400px 400px 0 400px;
    }
    @media screen and (min-width: 1700px) {
      padding: 500px 700px 0 700px;
    }
  }
  &__p {
    color: white;
    padding: 15px 65px 0 65px;
    font-family: $font-text;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
      padding: 0 230px 0 230px;
    }
    @media screen and (min-width: 780px) {
      font-size: 1.5rem;
      padding: 0 230px 0 230px;
    }
  }
  &__img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    padding: 8px;
    position: sticky;
    @media screen and (min-width: 780px) {
      width: 50px;
      height: 50px;
    }
    @media screen and (min-width: 1000px) {
      width: 40px;
      height: 40px;
    }
  }
}

.section_2 {
  padding: 30px 17px 0 13px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 376px;
  min-width: 320px;
  @media screen and (min-width: 780px) {
    padding: 30px 20px 0 20px;
  }
  @media screen and (min-width: 1000px) {
    padding: 70px 50px 0 50px;
    margin-bottom: 20px;
  }
  &__span {
    color: $color-main;
    padding-bottom: 10px;
    font-family: $font-text;
    font-size: 0.875rem;
    @media screen and (min-width: 780px) {
      font-size: 1rem;
    }
  }
  &__h2 {
    font-family: $font-title;
    font-size: 1.375rem;
    font-weight: 600;
    padding-bottom: 10px;
    @media screen and (min-width: 780px) {
      font-size: 2rem;
    }
  }
  &__p {
    font-family: $font-text;
    font-size: 1.125rem;
    padding-bottom: 70px;
    color: $color-text;
    line-height: 1.5;
    @media screen and (min-width: 780px) {
      font-size: 1.25rem;
    }
  }
  &__button {
    width: 150px;
    height: 40px;
    background-color: white;
    border: 2px solid $color-main;
    border-radius: 1rem;
    font-size: 1.25rem;
    transition: background-color 1s ease-out 30ms;
    transition: transform 500ms ease-out 30ms;

    a {
      color: $color-main;
    }
    &:hover {
      background-color: gold;
      transform: rotate(360deg);
    }
  }
}
.section_3 {
  background-color: $color-light;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-items: center;
  font-family: $font-title;
  padding: 20px 0 30px 0;
  min-width: 320px;

  @media screen and (min-width: 780px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90px 90px 100px;
  }
  &__img {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 8px;
    position: absolute;
    bottom: -1040px;
    left: 46%;

    @media screen and (min-width: 780px) {
      bottom: -790px;
      left: 48%;
    }
    @media screen and (min-width: 1000px) {
      bottom: -795px;
    }
    @media screen and (min-width: 1212px) {
      left: 48.5%;
    }
  }

  &__figure--1,
  &__figure--2,
  &__figure--3 {
    width: 114px;
    padding-top: 20px;
    span {
      font-size: 0.75rem;
    }

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  &__container--figure--2 {
    position: relative;
    left: -15px;
  }
  &__p {
    color: #626262;
    font-size: 0.75rem;
    @media screen and (min-width: 780px) {
      grid-column: 2;
      grid-row: 1;
    }
  }
  &__h4 {
    font-size: 1.25rem;
    @media screen and (min-width: 780px) {
      grid-column: 2;
      grid-row: 1;
      padding-top: 20px;
      font-size: 1.75rem;
    }
  }
  &__button {
    font-family: $font-text;
    margin-top: 10px;
    background-color: $color-main;
    border: 1px solid $color-main;
    border-radius: 1rem;
    padding: 10px;
    font-size: 1rem;
    transition: font-size 500ms 30ms;
    transition: background-color 500ms 30ms;
    a {
      color: white;
      transition: color 1s linear 30ms;
    }
    a:hover {
      color: brown;
    }
    &:hover {
      font-size: 1.6rem;
      background-color: gold;
    }
    @media screen and (min-width: 780px) {
      grid-column: 2;
      grid-row: 5;
    }
  }
  @media screen and (min-width: 780px) {
    &__container--figure--1 {
      grid-column: 1;
      grid-row-start: 2;
      grid-row-end: 4;
      span {
        font-size: 1.125rem;
      }
    }
    &__container--figure--2 {
      grid-column: 3;
      grid-row-start: 2;
      grid-row-end: 4;
      font-size: 1.125rem;
    }
    &__container--figure--3 {
      grid-column: 2;
      grid-row-start: 2;
      grid-row-end: 4;
      font-size: 1.125rem;
    }
  }
}
