@font-face {
  font-family: 'font_one';
  src: url('../fonts/Sono-Medium.woff2') format('truetype');
}

.header {
  background-color: #b9d3b0;
  padding: 0 10px;
  min-width: 380px;
  height: 8vh;
  margin: 7px 7px 0px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid lightblue;

  &__nav {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  &__img {
    width: 40px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  &__img:hover {
    transform: scale(1.25);
  }
}
.nav_link {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  font-family: font_one;
  &:hover {
    color: salmon;
  }
}

.button_menu {
  padding: 10px;
  background-color: #b9d3b0;
  border-radius: 50%;
  border: #b9d3b0 solid 1px;
}
// .menu {
//   width: 120%;
// }
