@font-face {
  font-family: 'font_one-bold';
  src: url('../fonts/Sono-Medium.woff2') format('woff2');
}

.main {
  height: 80vh;
  margin: 0px 7px;
  &__aside {
    height: 20vh;
    background-color: #906a59;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: font_one-bold;
    &__containerText {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__img {
      width: 10%;
    }
    &__title {
      color: yellow;
      font-size: 2rem;
      &-2 {
        color: yellow;
        font-size: 2rem;
      }
    }
    &__moving {
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #81bda4;
      overflow: hidden;
      white-space: nowrap;
    }
    &__rrss {
      display: flex;
      flex-direction: column;
      gap: 20px;
      &-button {
        background-color: #b9d3b0;
        height: 70px;
        width: 70px;
        border-radius: 50%;
      }
    }
    &-button {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      font-size: 3rem;
    }
  }
  &__section {
    &__carroussel {
      background-color: #f88f79;
      height: 45vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {
      width: 50%;
      max-width: 900px;
      border-radius: 1rem;
    }
  }
}
.slide-track {
  font-size: 6rem;
  display: flex;
  // gap: 50px;
  padding-left: 0;
  width: calc(1500px * 6);
  animation: scrolling 15s linear infinite;
}
.slide {
  width: 1500px;
  will-change: transform;
  margin-right: 0;
  //animation: 10s linear infinite;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000px);
  }
}
